[Desktop Entry]
Terminal=false
Type=Application
Name=OldWorldRadio
Exec=mycroft-gui-app --hideTextInput --skill=skill-old-world-radio.jarbasskills.home
Icon=old-world-radio.png
Categories=VoiceApp
StartupNotify=false
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
